<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PromGruz.Properties.Settings.ГрузоперевозкиConnectionString"
            connectionString="Data Source=SKYEL;Initial Catalog=Грузоперевозки;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PromGruz.Properties.Settings.ГрузоперевозкиConnectionString1"
            connectionString="Data Source=MS-SQL\SQLEXPRESS;Initial Catalog=Грузоперевозки;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>